<div class="left-block">
    <a [routerLink]="[ '/cabinet' ]" routerLinkActive="route-active" class="nav-link ">Особисті дані</a>
    <a [routerLink]="[ '/history' ]" routerLinkActive="route-active" class="nav-link ">Історія замовлень</a>
    <a [routerLink]="[ '/user-password' ]" routerLinkActive="route-active" class="nav-link ">Зміна паролю</a>
</div>
<div class="tab-content" id="v-pills-tabContent">
    <div class="col-8">
        <p>Поки що ви не зробили жодного замовлення <a [routerLink]="[ '' ]">перейти в каталог</a> </p>
    </div>
</div>